h1 {color:coral; font-family: cursive; border: 0cm; text-align: center;}

 ul{color:rgb(29, 160, 149); font-family: Verdana, Geneva, Tahoma, sans-serif;}

 h3{color:crimson; font-style: oblique; font: size 50%;;}

 * {background-color: black;} 

 a {text-decoration: none;} 