*{background-color: aqua;}


.container {background-color: rgb(118, 161, 199); padding: 5px; display: block;}

.logo-1 {max-width: 150px; padding: 10px;}

.logo-2 {max-width: 250px; padding: 10px;}

.redes-y-login li {display: inline-block;}

.redes-y-login img{ max-width: 25px; padding: 5px;}

