
 
head div a {
    padding: 100px;
    width: 10px;
    height: 10px;
    margin-top: 10%;
}



head,header,body,footer,h1,h3,a{background-image: url(https://img.freepik.com/vector-gratis/fondo-bokeh-pastel-horizontal_25819-688.jpg?w=2000)}
 h1 {color:rgb(218, 60, 183); font-family: cursive; border: 0cm; text-align: center; }

 ul li nav a {color:rgb(218, 60, 183); font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: none;}

 h3 {color:crimson; font-style: oblique; font: size 50%;}


 


 .destacado {display:block;  margin:auto;}